<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des inscriptions</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"> </script>

    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

    <!-- font-awesome : Ajouts de fonts libres de droits -->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
<h1>Liste des inscriptions</h1>
<div class="tableau">
    <table>
        <thead class="thead-dark">
        <tr>
            <th> Id</th>
            <th> Id de l'élève</th>
            <th> Id du cours</th>
            <th> Mise à jour</th>
            <th> Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="inscription: ${inscriptions}">
            <td>[[${inscription.inscription_id}]]</td>
            <td>[[${inscription.student_id}]]</td>
            <td>[[${inscription.formation_id}]]</td>
            <td>
                <a th:href="@{'/student/inscription/update/' + ${inscription.inscription_id}}">edit</a>

            </td>
            <td>
                <a th:href="@{'/student/inscription/delete/' + ${inscription.inscription_id}}">delete</a>
            </td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <div class="add-inscription">
        <a th:href="@{/student/inscription/create}">
            <button type="button"> Ajouter une inscription</button>
        </a>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>