<!-- IFOSUP Wavre | Cours IPID avec Mr Sebastien LEJEUNE | Année académique: 2022 - 2023 -->
<!-- Groupe: Learning Project -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>LP: Admin</title>
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.png}" />
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"> </script>

        <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />


        <!-- font-awesome : Ajouts de fonts libres de droits -->
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    </head>
    <body>
        <header th:insert="fragments/header :: header"></header>
        <nav th:insert="fragments/nav :: nav"></nav>

        <a th:href="@{/admin/users}">
            <button type="button" class="createBtn" name="ajouterUtilisateur">Gestion des utilisateurs</button>
        </a>

        <a th:href="@{/admin/formation}">
            <button type="button"> Gestion des formations</button>
        </a>

        <footer th:insert="fragments/footer :: footer"></footer>
    </body>
</html>