<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des inscriptions</title>
</head>
<body>
<h1>Liste des inscriptions</h1>
<div class="tableau">
    <table>
        <thead class="thead-dark">
        <tr>
            <th> Id</th>
            <th> Id de l'élève</th>
            <th> Id du cours</th>
            <th> Mise à jour</th>
            <th> Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="inscription: ${inscriptions}">
            <td>[[${inscription.inscription_id}]]</td>
            <td>[[${inscription.student_id}]]</td>
            <td>[[${inscription.formation_id}]]</td>
            <td>
                <a th:href="@{'/admin/inscription/update/' + ${inscription.inscription_id}}">edit</a>

            </td>
            <td>
                <a th:href="@{'/admin/inscription/delete/' + ${inscription.inscription_id}}">delete</a>
            </td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <div class="add-formation">
        <a th:href="@{/admin/inscription/create}">
            <button type="button"> Ajouter une inscription</button>
        </a>
    </div>
</div>
</body>
</html>