<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header :: header"></header>
<body>

<nav th:insert="fragments/nav :: nav"></nav>

<aside th:insert="fragments/sidebaradmin :: sidebaradmin"></aside>

<main id="main" class="main">
    <div class="formationtitle">
        <h1>Ajouter une formation</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulaire pour ajouter une nouvelle formation</h5>

                            <form th:action="@{/admin/formation/create}" th:object="${formations}" method="post">
                                <div class="row">
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Titre</label>
                                        <div class="col-sm-10">
                                        <input type="text" th:field="*{titre}" class="form-control"
                                               placeholder="Titre*">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Nombre maximum d'élèves</label>
                                        <div class="col-sm-10">
                                        <input type="number" th:field="*{num_eleve}" class="form-control"
                                               placeholder="Nombre d'élèves*">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Date de début</label>
                                        <div class="col-sm-10">
                                        <input type="date" th:field="*{date_debut}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Date de fin</label>
                                        <div class="col-sm-10">
                                        <input type="date" th:field="*{date_fin}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Professeur</label>
                                        <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example" th:field="*{teacher}" id="teacher">
                                            <option type="text" th:value="default"> </option>
                                            <option type="text" th:each="Prof: ${profs}" th:value="${Prof.id}"
                                                    th:text="${Prof.username}"></option>
                                        </select>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Confirmation</label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Envoie</button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>