<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une formation</title>
</head>
<body>
<h1>Ajouter une formation</h1>
<section id="create-formation" class="create-formation">

        <form th:action="@{/admin/formation/create}" th:object="${formations}" method="post" role="form">
            <div class="row">
                <div>
                    <label> Titre : </label>
                    <input type="text" th:field="*{titre}" class="form-control"
                           placeholder="Titre*">
                </div>

                <div>
                    <label> Nombre d'élèves : </label>
                    <input type="number" th:field="*{num_eleve}" class="form-control"
                           placeholder="Nombre d'élèves*">
                </div>

                <div>
                    <label> Date de début : </label>
                    <input type="date" th:field="*{date_debut}" class="form-control">
                </div>

                <div>
                    <label> Date de fin : </label>
                    <input type="date" th:field="*{date_fin}" class="form-control">
                </div>

                <div>
                    <label> Professeur : </label>
                    <select th:field="*{teacher}" id="teacher">
                        <option type="text" th:value="default">Choisir un professeur</option>
                        <option type="text" th:each="Prof: ${profs}" th:value="${Prof.id}"
                                th:text="${Prof.username}"></option>
                    </select>
                </div>

            </div>
            <br>
            <div class="text-center">
                <button type="submit">Confirmer</button>
            </div>
        </form>


</section>
</body>
</html>