<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formations</title>
</head>
<body>
<h1>Liste des formations</h1>
<div class="tableau">
    <table>
        <thead class="thead-dark">
        <tr>
            <th> Id</th>
            <th> Titre</th>
            <th> Nombre d'élèves</th>
            <th> Date de début</th>
            <th> Date de fin</th>
            <th> Professeur</th>
            <th> Mise à jour</th>
            <th> Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="formation: ${formations}">
            <td>[[${formation.formation_id}]]</td>
            <td>[[${formation.titre}]]</td>
            <td>[[${formation.num_eleve}]]</td>
            <td>[[${formation.date_debut}]]</td>
            <td>[[${formation.date_fin}]]</td>
            <td>
                <a th:href="@{'/admin/formation/update/' + ${formation.formation_id}}">edit</a>

            </td>
            <td>
                <a th:href="@{'/admin/formation/delete/' + ${formation.formation_id}}">delete</a>
            </td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <div class="add-formation">
        <a th:href="@{/admin/formation/create}">
            <button type="button"> Ajouter une formation</button>
        </a>
    </div>
</div>
</body>
</html>