<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une formation</title>
</head>
<body>
<h1>Ajouter une formation</h1>
<section id="create-formation" class="create-formation">

        <form th:action="@{/formation/create}" th:object="${formations}" method="post" role="form">
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group mt-3 php-email-form">
                    <input type="text" th:field="*{titre}" class="form-control"
                           placeholder="Titre*">
                    <div th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}"
                         class="alert alert-danger text-center"></div>
                </div>

                <div class="col-lg-4 col-md-6 form-group mt-3 php-email-form">
                    <input type="number" th:field="*{num_eleve}" class="form-control"
                           placeholder="Nombre d'élèves*">
                    <div th:if="${#fields.hasErrors('num_eleve')}" th:errors="*{num_eleve}"
                         class="alert alert-danger text-center"></div>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button type="submit">Confirmer</button>
            </div>
        </form>


</section>
</body>
</html>