<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header :: header"></header>
<body>

<nav th:insert="fragments/nav :: nav"></nav>

<aside th:insert="fragments/sidebarvisitor :: sidebarvisitor"></aside>
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">LearningProject</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
                                    <p class="text-center small">Enter your new password</p>
                                </div>

                                <form th:action="@{/password/resetpassword}" method="post" class="row g-3 needs-validation" novalidate>

                                    <div class="col-12">
                                        <input type="hidden" class="form-control" name="token"   th:value="${token}"/>
                                    </div>

                                    <div class="col-12">
                                        <label for="password" class="form-label">Password</label>
                                        <div class="input-group has-validation">
                                            <input type="password" name="password" class="form-control" id="password" required>
                                            <div class="invalid-feedback">Please enter your new password.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="matchingpassword" class="form-label">Password Confirmation</label>
                                        <input type="password" name="matchingpassword" class="form-control" id="matchingpassword" required>
                                        <div class="invalid-feedback">Please re-enter your password!</div>
                                    </div>


                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Send</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->


<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>