<!-- IFOSUP Wavre | Cours IPID avec Mr Sebastien LEJEUNE | Année académique: 2022 - 2023 -->
<!-- Groupe: Learning Project -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LP: Admin | Gestion des utilisateurs</title>
    <style>
        *{font-family: Arial;}
        h1 {color:black;}
        .createbtn{
            padding: 6px 50px;
            background-color:rgba(51,153,152,1);
            color: white;
            border: dashed;
            border-color: rgb(0,102,51);
            border-radius: 2px;
        }

        .createbtn:hover{
            background-color:rgba(53,229,172,1);
        }
    </style>
</head>
<body>
    <!-- <img src="../img/LProject_Logo_Final.png" alt="Learning Project Logo"> -->
    <!-- <img th:src=@{${'../img/img/LProject_Logo_Final.png'}}" /> -->
    <img th:src="@{./img/LProject_Logo_Final.jpg}" alt="Learning Project Logo" />
    <h1>Learning Project</h1>
    <h2>Page Admin: Gestion des utilisateurs</h2>
    <button type="button" class="createbtn" name="ajouterUtilisateur">Ajouter un utilisateur</button>
    <!-- <input class="createbtn" name="ajouterUtilisateur" type="button" value="Ajouter un utilisateur" onclick="" /> -->




    <!-- <footer th:replace="fragments/footer"></footer> -->
</body>
</html>