<!-- IFOSUP Wavre | Cours IPID avec Mr Sebastien LEJEUNE | Année académique: 2022 - 2023 -->
<!-- Groupe: Learning Project -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer">
            <div class="divFooter">
                <a th:href="@{/}" title="Accueil" /> Accueil </a>
            </div>
            <div class="divFooter">
                |
            </div>
            <div class="divFooter">
                Learning Project
            </div>
            <div class="divFooter">
                |
            </div>
            <div class="divFooter">
                Project d'intégration de dev (Professeur: Sebastien LEJEUNE)
            </div>
            <div class="divFooter">
                |
            </div>
            <div class="divFooter">
                IFOSUP
            </div>
            <div class="divFooter">
                |
            </div>
            <div class="divFooter">
                Année académique 2022 - 2023
            </div>
        </div>
    </body>
</html>