<!-- IFOSUP Wavre | Cours IPID avec Mr Sebastien LEJEUNE | Année académique: 2022 - 2023 -->
<!-- Groupe: Learning Project -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
        <div th:fragment="header">
          <div class="titreHeader">
            <img id="img1" th:src="@{/img/LProject_Logo_Final.png}" alt="Learning Project Logo" />
          </div>

          <div class="titreHeader">
            Learning Project
          </div>
        </div>
  </body>
</html>