<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="message">
  <div th:if="${messagepos}" class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="bi bi-check-circle me-1"></i>
    [[${messagepos}]]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div th:if="${messageneg}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-octagon me-1"></i>
    [[${messageneg}]]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div th:if="${messagevalidation}" class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-octagon me-1"></i>
    [[${messagevalidation}]]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

</div>
</body>
</html>