<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebaradmin">
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/admin}">
                        <i class="bi bi-grid"></i>
                        <span>Home</span>
                    </a>
                </li><!-- End Home Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-journal-text"></i><span>Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/user}">
                                <i class="bi bi-circle"></i><span>Liste d'utilisateurs</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/user/create}">
                                <i class="bi bi-circle"></i><span>Ajouter un utilisateur</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Users Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Formations</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/formation}">
                                <i class="bi bi-circle"></i><span>Liste de formations</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/formation/create}">
                                <i class="bi bi-circle"></i><span>Ajouter une formation</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Formations Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-bar-chart"></i><span>Matières</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a th:href="@{/admin/type}">
                                <i class="bi bi-circle"></i><span>Liste des matières</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/type/create}">
                                <i class="bi bi-circle"></i><span>Ajouter une matière</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Type Nav -->
                <li class="nav-heading">Pages</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/profile}">
                        <i class="bi bi-person"></i>
                        <span>Profile</span>
                    </a>
                </li><!-- End Profile Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/logout}">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                </li><!-- End Sign Out Page Nav -->
            </ul>
        </aside><!-- End Sidebar-->
    </div>
</body>
</html>