<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebarvisitor">
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" th:href="@{/}">
                        <i class="bi bi-grid"></i>
                        <span>Acceuil</span>
                    </a>
                </li><!-- End Home Nav -->
                <li class="nav-heading">Pages</li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="/login">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Se connecter</span>
                    </a>
                </li><!-- End Login Page Nav -->
            </ul>
        </aside><!-- End Sidebar-->
    </div>
</body>
</html>