<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/header :: header"></header>
<body>

<nav th:insert="fragments/nav :: nav"></nav>

<aside th:insert="fragments/sidebaradmin :: sidebaradmin"></aside>
<main id="main" class="main">
    <div class="formationtitle">
        <h1>Gestion des formations</h1>
    </div><!-- End Page Title -->
    <div th:insert="fragments/message :: message"></div>
    <section class="section">

        <div class="row">
            <div class="col-lg-15">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des matières</h5>
                            <table id="datatable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col"> Titre</th>
                                    <th scope="col"> Description</th>
                                    <th scope="col"> Mise à jour</th>
                                    <th scope="col"> Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="type: ${types}">
                                        <td>[[${type.titre}]]</td>
                                        <td>[[${type.description}]]</td>
                                        <td>
                                            <a th:href="@{'/admin/type/update/' + ${type.type_id}}">edit</a>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/type/delete/' + ${type.type_id}}">delete</a>
                                        </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-2">
            <a th:href="@{/admin/type/create}">
                <button class="btn btn-primary w-100" type="submit">Ajouter une matière</button>
            </a>
        </div>
    </section>

</main><!-- End #main -->


<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>