<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<h1>Reset pass</h1>
<form th:action="@{/confirmPassword}" method="post">
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password"/>
    </div>
    <div>
        <label for="retype_password">retype password</label>
        <input type="password" name="retype_password" id="retype_password"/>
    </div>
</form>
</body>
</html>